<% for(x in arr){ %>
    <% if(arr[x].finished){%>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <%= arr[x].user_date %>
                    <button class="panelDel" data-panelId="<%= arr[x].id%>">delete</button>
                    <button class="btn-user start-pause start-img" data-panelId="<%= arr[x].id%>"></button>
                    <button class="btn-user set-btn" data-panelId="<%= arr[x].id%>"></button>
            </div>
            <div class="panel-body eventDone" data-panelId="<%= arr[x].id%>">
                <%= arr[x].user_event %>
            </div>
        </div>

        <%}else{%>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <%= arr[x].user_date %>
                        <button class="panelDel" data-panelId="<%= arr[x].id%>">delete</button>
                        <button class="btn-user start-pause start-img" data-panelId="<%= arr[x].id%>"></button>
                        <button class="btn-user set-btn" data-panelId="<%= arr[x].id%>"></button>
                </div>
                <div class="panel-body eventTodo" data-panelId="<%= arr[x].id%>">
                    <%= arr[x].user_event%>
                </div>
            </div>

            <%  } %>
                <% } %>