<% for(x in arr){ %>
    <div class="panel panel-info">
        <div class="panel-heading">
            <%= arr[x].user_date %>
                <button class="panelDel" arr[x]-panelid="<%= arr[x].id%>">delete</button>
                <button class="btn-user start-pause start-img" arr[x]-panelid="<%= arr[x].id%>"></button>
                <button class="btn-user set-btn" arr[x]-panelid="<%= arr[x].id%>"></button>
        </div>
        <div class="panel-body eventTodo" arr[x]-panelid="<%= arr[x].id%>">
            <%= arr[x].user_event%>
        </div>
    </div>
    <% } %>